extends base.pug

block title
    if errorMessage 
        span=errorMessage 
    form(method="POST")
        input(placeholder="Title",type="text",require, name="title", maxlength=80)
        input(placeholder="Description",type="text",require, name="description", minlength=20)
        input(placeholder="Hashtags, separated by comma.",type="text",require, name="hashtags")
        input(type="submit",value="Upload Video")